[Unit]
Description = Glances in Web Server Mode
After = network.target

[Service]
ExecStart = /usr/bin/glances -w  -t 2

[Install]
WantedBy = multi-user.target
